<div class="ad-container" *ngIf="ad$ | async as ad">
    <img [src]="ad.imageUrl" alt="" class="ad-image">
</div>
<!-- 根据itemWidth属性自动按单列或双列排，要按双列排的话改为10rem -->
<app-vertical-grid [itemWidth] = "'10rem'" [itemHight] = "'1rem'">
  
    <app-produce-tile *ngFor="let product of products$ | async" [product] = "product"
    [routerLink] = "['products',product.id]">

    </app-produce-tile>

    <!-- <app-product-card *ngFor="let product of products$ | async" [product] = "product">

    </app-product-card> -->
   
</app-vertical-grid>
