<ng-container *ngIf="selectTabLink$ | async as tab"> 
    <!-- ng-container这个组建的好处是不会增加节点 -->
    <ng-container *ngIf="tab === 'hot'">
        <app-image-slider [sliders]="imageSliders$ | async"> </app-image-slider>

        <app-horizontal-grid>
            <span appGridItem *ngFor="let item of channels$ | async">
                <img [src]="item.icon" alt="" [appGridItemImage]="'3rem'">
                <span appGridItemTitle>{{ item.title  }}</span>
            </span>
        </app-horizontal-grid>
    </ng-container>
</ng-container>

<div class="ad-container" *ngIf="ad$ | async as ad">
    <img [src]="ad.imageUrl" alt="" class="ad-image">
</div>



<!-- <ng-template #other>
    other tabs
</ng-template> -->

<!-- <a [routerLink]="[ 'grand']">click me to the grand</a> -->
<!-- 添加一个active样式 ,点击后显示active样式-->
<!-- 添加[queryParams]后，点击链接后自动添加上参数 -->
<!-- <a [routerLink]="[ 'grand' ]" routerLinkActive="active" [queryParams]="{haha:122,hehe:334}">haahhehe</a> -->

<!-- 注意outlet不要漏了s -->
<!-- <a [routerLink]="[ {outlets:{second:['aux']}} ]" >link to second</a> -->
<!-- <router-outlet></router-outlet> -->
<!-- 关于router-outlet，只能有一个没有name的router-outlet，如果设置多个router-outlet，要起名字 -->
<!-- <router-outlet name="second"></router-outlet> -->